<div *ngIf="!mealGenerated" id="clean-fridge">
    <h1>Generate a meal with your leftovers</h1>
    <div id="my-ingredients">
        <h2>Add new ingredient</h2>
        <div id="add-ingredients">
            <input type="text" [(ngModel)]="name" name="name" placeholder="Enter an ingredient">
            <input type="text" [(ngModel)]="amount" name="amount" placeholder="Enter the amount">
            <input type="text" [(ngModel)]="unit" name="unit" placeholder="Enter the unit">
        </div>  
        <button mat-raised-button color="accent" (click)="addIngredient()">Add</button>
        <h3>Your ingredients : </h3>
        <div *ngFor="let ingredient of ingredients" id="ingredients">
            <p>- {{ingredient.name}} : {{ingredient.amount}} {{ingredient.unit}}</p>
            <i class="material-icons" (click)="deleteIngredient(ingredient)">delete</i>
        </div>
        <br>
    </div>

    <div id="moreIngredients">
        <p>Do you want to buy other ingredients ?</p>
        <input type="checkbox" [(ngModel)]="buyIngredients" name="buyIngredients" />
    </div>
    <mat-form-field *ngIf="buyIngredients" [style.width.px]=300>
        <mat-label>Enter your maximum price</mat-label>
        <input matInput [(ngModel)]="maxPrice" type="number" name="maxPrice">
    </mat-form-field>

    <mat-form-field [style.width.px]=300>
        <mat-label>For how many people ?</mat-label>
        <input matInput required [(ngModel)]="numberPeople" type="number" name="numberPeople">
    </mat-form-field>

    <button mat-raised-button color="accent" *ngIf="!user" (click)="cleanFridge()">Generate a meal</button>
    <button mat-raised-button color="accent" *ngIf="user" (click)="cleanFridgeByPreferences()">Generate a meal by preferences</button>
    <div *ngIf="inProgress">
        <p>Generating your meal... Wait a moment</p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
</div>

<div *ngIf="mealGenerated" id="mealGenerated">
    <div *ngIf="mealGenerated;">
        <h2>Meal Generated</h2>
        <h3>{{mealName}}</h3>
        <p>Total price : {{totalPrice}} €</p>
        <h3>Ingredients</h3>
        <div *ngFor="let ingredient of mealIngredients" id="ingredients">
            <p>- {{ingredient.amount}} {{ingredient.unit}} {{ingredient.name}} , price : {{ingredient.totalPrice}} €</p>
        </div>
        <h3>Instructions</h3>
        <div *ngFor="let step of mealInstructions" id="instructions">
            <p>- {{step}}</p>
        </div>
        <div id="buttons">
            <button mat-fab extended (click)="saveMeal()">
                <i class="material-icons">favorite</i>
                Favorite
            </button>
            <button mat-raised-button color="accent" *ngIf="!user" (click)="cleanFridge()">Generate another Meal</button>
            <button mat-raised-button color="accent" *ngIf="user" (click)="cleanFridgeByPreferences()">Generate another Meal</button>
            <button mat-raised-button color="accent" (click)="goBack()">Change parameters and generate</button>
        </div>
        <div *ngIf="inProgress">
            <p>Generating your meal... Wait a moment</p>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div >
</div>
