.sidenav-container {
    height: 100%;
  }
  
  mat-sidenav {
    width: 250px;
  }
  
  mat-sidenav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  
  