.sidenav-container {
    height: 100%;
  }
  
  mat-sidenav {
    width: 250px;
    background-color: #625D52;
  }
  
  mat-sidenav-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  mat-sidenav-container {
    background-color: #31302E;
  }

  
  