#sign-up{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #625D52;
  padding: 20px;
  border-radius: 15px;
  color: white;
}

#sign-up-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
  }

  #errorMessage{
    color: red;
    margin-bottom: 10px;
    background-color: beige;
  }

  #verificationMessage{
    color: green;
    margin-bottom: 10px;
    background-color: beige;
  }

  #signin{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #signin button{
    margin-top: 10px;
  }

  #signInWithGoogle{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  mat-icon{
    color: black;
  }