#dashboard {
  align-items: center;
  border-radius: 2%;
  height:700px;
  width: 700px;
}

p{
    font-size: 1em;
    text-decoration: underline;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium';
    margin: 3%;
}

#text {
  text-decoration: none;
}

h2, h4{
    color: white;
}

mat-card {
  background-color: #625D52;
  transition: none !important;
  box-shadow: none !important;
}

