<div *ngIf="!generated" id="weeklyPlan">
    <h1>Generate your weekly recipes</h1>
    <div id="my-ingredients">
        <h2>Add new ingredient</h2>
        <div id="add-ingredients">
            <input type="text" [(ngModel)]="name" name="name" placeholder="Enter an ingredient">
            <input type="text" [(ngModel)]="amount" name="amount" placeholder="Enter the amount">
            <input type="text" [(ngModel)]="unit" name="unit" placeholder="Enter the unit">
        </div>  
        <button mat-raised-button color="accent" (click)="addIngredient()">Add</button>
        <h3>Your ingredients : </h3>
        <div style="overflow-y: scroll; height:100px;">
            <div *ngFor="let ingredient of ingredients" id="ingredients">
                <p>- {{ingredient.name}} : {{ingredient.amount}} {{ingredient.unit}}</p>
                <i class="material-icons" (click)="deleteIngredient(ingredient)">delete</i>
            </div>
        </div>
        <br>
    </div>

    <div id="moreIngredients">
        <p>Do you want to buy other ingredients ?</p>
        <input type="checkbox" [(ngModel)]="buyIngredients" name="buyIngredients" />
    </div>
    <mat-form-field *ngIf="buyIngredients" [style.width.px]=300>
        <mat-label>Enter your maximum price</mat-label>
        <input matInput [(ngModel)]="maxPrice" type="number" name="maxPrice">
    </mat-form-field>

    <mat-form-field [style.width.px]=300>
        <mat-label>For how many people ?</mat-label>
        <input matInput required [(ngModel)]="numberPeople" type="number" name="numberPeople">
    </mat-form-field>
    
    <mat-form-field [style.width.px]=300>
        <mat-label>Number of meals in the week</mat-label>
        <input matInput required [(ngModel)]="numberMeals" type="numberMeals" name="numberMeals">
    </mat-form-field>

    <button mat-raised-button color="accent" *ngIf="!user" (click)="generateWeeklyMeals()">Generate a meal</button>
    <button mat-raised-button color="accent" *ngIf="user" (click)="generateWeeklyMealsByPreferences()">Generate a meal by preferences</button>
    <div *ngIf="inProgress">
        <p>Generating your meal... Wait a moment</p>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

</div>

<div *ngIf="generated" id="mealsGenerated">
    <div>
        <h2>Meals Generated</h2>
        <div style="overflow-y: scroll; height:600px;">
            <mat-card *ngFor="let meal of meals" id="meal">
                <mat-card-title>
                    <h3>{{meal.name}}</h3>
                </mat-card-title>
                <mat-card-content>
                    <p>Total price : {{meal.totalPrice}} €</p>
                    <h4>Ingredients</h4>
                    <div *ngFor="let ingredient of meal.ingredients">
                        <p>- {{ingredient.amount}} {{ingredient.unit}} {{ingredient.name}} , price : {{ingredient.price}} €</p>
                    </div>
                    <h4>Instructions</h4>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="accent" (click)="saveMeal(meal)">
                        <i class="material-icons">favorite</i>
                        Add favorite
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div id="buttons">
            <button mat-raised-button color="accent" *ngIf="!user" (click)="generateWeeklyMeals()">Generate other Meals</button>
            <button mat-raised-button color="accent" *ngIf="user" (click)="generateWeeklyMealsByPreferences()">Generate other Meals</button>
            <button mat-raised-button color="accent" (click)="goBack()">Change parameters and generate</button>
        </div>
        <div *ngIf="inProgress">
            <p>Generating your meal... Wait a moment</p>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div >
</div>
